<!DOCTYPE html>
<html>

<head>
    <title>新增</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <base href="@{base_path}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="@{base_path}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="@{base_path}/static/css/ionicons.min.css">
    <link rel="stylesheet" href="@{base_path}/static/css/pace.css">
    <link rel="stylesheet" href="@{base_path}/static/css/custom.css">
    <link rel="stylesheet" href="@{base_path}/static/css/editormd.min.css" />

    <!-- js -->
    <script src="@{base_path}/static/js/jquery-2.1.3.min.js"></script>
    <script src="@{base_path}/static/js/bootstrap.min.js"></script>
    <script src="@{base_path}/static/js/pace.min.js"></script>
    <script src="@{base_path}/static/js/modernizr.custom.js"></script>
    <script src="@{base_path}/static/js/marked.min.js"></script>
    <script src="@{base_path}/static/js/prettify.min.js"></script>
    <script src="@{base_path}/static/js/editormd.min.js"></script>
</head>
<style>
    .content-body {
        height: 860px;
    }

    .editorContent {
        height: 650px;
    }

    .input-group {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .select {
        height: 30px;
        width: 100px;
    }

    .tagActive {
        background-color: aquamarine;
    }

    .levelSelect {
        height: 30px;
        width: 150px;
    }
</style>

<body id="single">
    <div class="container">
        {% include "./tmpl/head.html" %}
    </div>

    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8 editorContent">
                    <div>
                        <button type="button" class="btn btn-primary" onclick="postBlog()">提交</button>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">标题</span>
                        <input type="text" id="blog_title" class="form-control" placeholder="标题"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">阅读权限</span>
                        <select class="levelSelect" id="browse_level_value">
                            {% for level in browse_level_list %}
                            <option {% if loop.index == 0 %} selected {% endif %} value="@{level.level}">@{level.name}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">隐藏描述</span>
                        <select class="levelSelect" id="browse_hide_describe">
                            <option selected value="false">否
                            </option>
                            <option value="true">是
                            </option>
                        </select>
                    </div>
                    <!-- <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">标签</span>
                        <select class="select">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div> -->
                    <div id="editor">
                        <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
                        <textarea style="display:none;">### Hello Editor.md !</textarea>
                    </div>
                </main>
                {% include "./tmpl/aside.html" %}
            </div>
        </div>
    </div>
    {% include "./tmpl/foot.html" %}

    {% include "./tmpl/mobile.html" %}


    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        id="myModal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="messageShow">
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="relogin">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">请重新登陆</h4>
                </div>
                <div class="modal-body">
                    <iframe style="height: 600px;width: 533px;border:none;" src="@{base_path}/login"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="@{base_path}/static/js/script.js"></script>

</body>
<script type="text/javascript">
    var editor;
    $(function () {
        editor = editormd("editor", {
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "@{base_path}/upload",
            emoji:true,
            htmlDecode:true,
            saveHTMLToTextarea: true,
            // width: "100%",
            // height: "100%",
            // markdown: "xxxx",     // dynamic set Markdown text
            path: "@{base_path}/static/lib/"  // Autoload modules mode, codemirror, marked... dependents libs path
        });
    });
    function postBlog() {
        var data = editor.getHTML();
        var md_text = editor.getMarkdown();
        //console.log(data);
        var tags = [];
        var title = $("#blog_title").val();
        $(".tagActive").each(function () {
            tags.push($(this).attr("data-id"));
        });
        if (tags.length == 0 || title == "") {
            var msg = "";
            if (title == "") {
                msg = "请填写标题";
            } else if (tags.length == 0) {
                msg = "请为文章选择右侧的标签";
            } else {
                msg = "请填写完整信息"
            }
            $("#messageShow").text(msg);
            $('#myModal').modal({

            });
            return;
        }
        var browse_hide_describe = $("#browse_hide_describe").val();
        var describe_text = "";
        if (browse_hide_describe == "false") {
            var describe_text_raw = $(data).text();
            var size = Math.round(describe_text_raw.length / 5);
            if (size > 150) {
                size = 150;
            }
            describe_text = describe_text_raw.substr(0, size) + "...";
        } else {
            describe_text = "*************";
        }
        var json = {
            md_content: md_text,
            content: data,
            tags: tags.join(","),
            title: title,
            level: $("#browse_level_value").val(),
            describe: describe_text
        };
        $.ajax({
            url: "@{base_path}/addarticle",
            method: "POST",
            data: JSON.stringify(json),
            dataType: "json",
            contentType: "application/json",
            success: function (res) {
                //console.log(res);
                if (res.success) {
                    window.location.href = "@{base_path}/myblog";
                } else if (res.code == 404) {
                    $('#relogin').modal({

                    });
                } else {
                    $("#messageShow").text(res.message);
                    $('#myModal').modal({

                    });
                }
            }
        });
    }

    $(".tagItem").off("click").on("click", function () {
        var state = $(this).attr("data-state");
        if (state == "false") {
            $(this).addClass("tagActive");
            $(this).attr("data-state", "true");
        } else {
            $(this).removeClass("tagActive");
            $(this).attr("data-state", "false");
        }
    });
    window.reLoginOk = function () {
        $('#relogin').modal("hide");
        postBlog();
    }
</script>

</html>